ACTION=="add", ENV{DEVTYPE}=="disk", ENV{ID_FS_UUID_ENC}=="?*", ENV{ID_FS_LABEL}=="EMBLAZE-USB", ENV{ID_FS_USAGE}=="filesystem", \
        SYMLINK+="emblaze-usb", \
        RUN+="/bin/sh -c '/usr/local/sbin/emblaze-usb-autorun.sh'"
