ACTION=="add", ENV{DEVTYPE}=="disk", ENV{ID_FS_UUID_ENC}=="?*", ENV{ID_FS_LABEL}=="EMBLAZE-USB", ENV{ID_FS_USAGE}=="filesystem", \
        RUN+="/bin/sh -c 'echo $env{DEVNAME} $env{ID_FS_UUID} $(date) > /tmp/emblaze-usb.evt'"
