[Unit]
Description=Checking boot
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/sbin/force-timesync.sh
Type=oneshot
ProtectHome=true

[Install]
WantedBy=multi-user.target
