[Unit]
Description=First boot initialization
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/first-boot-initialize.sh
ProtectHome=true

[Install]
WantedBy=multi-user.target
