[Unit]
Description=First boot initialization
ConditionFirstBoot=yes
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/sbin/first-boot-initialize.sh
RemainAfterExit=yes
ExecStop=touch /tmp/complete-first-boot
Type=oneshot
ProtectHome=true

[Install]
WantedBy=multi-user.target
