[Unit]
Description=RabbitMQ Service Daemon
Requires=docker.service
After=docker.service
ConditionFirstBoot=no

[Service]
ExecStart=/usr/local/sbin/rabbitmq.sh
Type=notify
NotifyAccess=main
LimitNPROC=1
ProtectHome=true
ProtectSystem=full
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
